body {
    font-family: 'Montserrat', sans-serif;
    color: white; 
    text-align: center; 
    background-image: url("images/cloudy.jpg"); 
}

form {
    margin: 20px; 
}

.description {
    margin-top: 30px; 
}

.temp {
    font-size: 60px; 
    border: solid black; 
    border-width: thin; 
    width: 100px; 
    padding: 25px; 
    margin: auto;
    margin-top: 50px;  
}

@media only screen and (max-width: 600px) {
    .temp {
      color: purple;
    }
  }